<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>ductn.filters.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ductn.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>ductn.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>ductn.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllController</servlet-name>
        <servlet-class>ductn.controllers.admin.ShowAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>ductn.controllers.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>ductn.controllers.admin.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>ductn.controllers.admin.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>ductn.controllers.admin.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>ductn.controllers.admin.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>ductn.controllers.admin.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>ductn.controllers.admin.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>ductn.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>ductn.controllers.user.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>ductn.controllers.user.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeUserController</servlet-name>
        <servlet-class>ductn.controllers.user.HomeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductController</servlet-name>
        <servlet-class>ductn.controllers.ShowProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>ductn.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>ductn.controllers.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartController</servlet-name>
        <servlet-class>ductn.controllers.EditCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>ductn.controllers.RemoveItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>ductn.controllers.admin.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>ductn.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>ductn.controllers.admin.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetController</servlet-name>
        <servlet-class>ductn.controllers.user.UpdatePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetController</servlet-name>
        <servlet-class>ductn.controllers.user.AddPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePetController</servlet-name>
        <servlet-class>ductn.controllers.user.RemovePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryController</servlet-name>
        <servlet-class>ductn.controllers.user.ViewHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>ductn.controllers.user.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllController</servlet-name>
        <url-pattern>/myfolder/admin/ShowAllController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/myfolder/admin/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/myfolder/admin/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/myfolder/admin/AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/myfolder/admin/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/myfolder/admin/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/myfolder/admin/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/myfolder/admin/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/myfolder/user/logged/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/myfolder/user/logged/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeUserController</servlet-name>
        <url-pattern>/myfolder/user/logged/HomeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductController</servlet-name>
        <url-pattern>/ShowProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartController</servlet-name>
        <url-pattern>/EditCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/RemoveItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/myfolder/admin/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/myfolder/admin/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetController</servlet-name>
        <url-pattern>/myfolder/user/logged/UpdatePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetController</servlet-name>
        <url-pattern>/myfolder/user/logged/AddPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePetController</servlet-name>
        <url-pattern>/myfolder/user/logged/RemovePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryController</servlet-name>
        <url-pattern>/myfolder/user/logged/ViewHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/myfolder/user/logged/DetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowProductController</welcome-file>
    </welcome-file-list>
</web-app>
